.div-one{
margin-left: 500px;
margin-bottom: 100px;


}
.img{
    border-radius: 10%;
}
.div-two{


}
.img-two{
width: 400px;
height: 300px;
margin-left: 450px;
border-radius: 10%;

}
.big-div{
display: flex;
flex-wrap: wrap;

}